body{
    height: 100vh;
    background-image:
    url("https://media.istockphoto.com/id/983354326/photo/campfire-next-to-a-tent-at-night.jpg?s=612x612&w=0&k=20&c=6EGhVl-s-79JoWYJ2kKNZRk7eRQmoAlZSoRYUzHLm3A=");
    /* url("https://res.cloudinary.com/dyfld3kte/image/upload/v1667756651/YelpCamp1/zzxyjdpfj3fxecr5krh0.jpg"); */
    background-size: cover;
    background-position: center;
}
.cover-container{
    max-width:60vw;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight:700;
    color:rgba(255,255,255,0.5);
    margin-left:1rem;
    border-bottom: 0.25rem solid transparent;
}
.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}
.nav-link.active{
    color:white;
    border-bottom-color:white;
}
.btn-secondary, .btn-secondary:hover{
    color:#333;
    text-shadow: none;
}