<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card-shadow">
            <img src="https://media.istockphoto.com/photos/group-of-dome-tents-placed-on-a-grass-field-near-mcleodganj-snow-line-picture-id1007403086?k=20&m=1007403086&s=612x612&w=0&h=bmhUxrqB99xhnGUe6clLZSQpI9HRAzQXu__lLeDmuq8=" alt="" class="card-img-top">
           <div class="card-body">
            <h5 class="card-title">Login</h5>
            <div class="card-shadow">
                <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control"id="username" name="username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                  
                <div class="mb-3">
                    <label for="password" class="form-control mb-3">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                   <div class="d-grid gap-2">
                    <button class="btn btn-success mb-3 ">Login</button>
                   </div>
               
                 </form>
            </div>
           </div>
        </div>
        </div>
    </div>
</div>